<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" layout="${longdate}|${message}" xsi:type="File" fileName="${basedir}/bin/LogFiles/${date:format=yyyyMMdd}.txt" archiveEvery="Day" archiveFileName="${basedir}/bin/LogFiles/archives/app-log.{#}.txt" archiveNumbering="Rolling" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Server" value="UAT" />
    <add key="DCTUserName" value="admin" />
    <add key="DCTPassword" value="admin" />
    <add key="Environment" value="UAT" />
    <add key="TransactionCountToConsiderAsBig" value="50" />
    <add key="PremiumAmountToConsiderAsBig" value="50000" />
    <add key="Trace" value="0" />

    <add key="SSOEnv" value="DEV" />
    <add key="DEVclient_id" value="0oabsv8mycJrSJ5Ui1d7" />
    <add key="DEVclient_secret" value="vuVK36kDzKq4gcAEOfaYOpfezdg4W4-QlLd2sLj5r9K3K9pXh-mtHdT773xltnsB" />
    <add key="DEVredirect_url" value="https://gaigva-dev.gaig.com" />
    <add key="DEVscope" value="openid%20profile" />
    <add key="DEVstate" value="ok" />
    <add key="DEVauthorization_endpoint" value="https://logindev.gaig.com/oauth2/v1/authorize" />
    <add key="DEVtoken_endpoint" value="https://logindev.gaig.com/oauth2/v1/token" />
    <add key="DEVlogout_endpoint" value="https://logindev.gaig.com/oauth2/v1/logout" />
    <add key="DEVrevocation_endpoint" value="https://logindev.gaig.com/oauth2/v1/revoke" />
    <add key="DEVjwks_uri" value="https://logindev.gaig.com/oauth2/v1/keys" />
    <add key="DEVissuer" value="https://logindev.gaig.com" />
    <add key="DEVapi_endpoint" value="https://gaigva-dev.gaig.com/Home/Index" />
    <add key="DEVbase_url" value="https://gaigva-dev.gaig.com" />

    <add key="UATclient_id" value="0oac4ib5ewPcMqM7y1d7" />
    <add key="UATclient_secret" value="vc9pHh0a3_ZVkkPIMY-IHVJ4x-aAq_bllIKrdNqk0lcwDgwwcXzRNROdRs9iKB-X" />
    <add key="UATredirect_url" value="https://gaigva-uat.gaig.com" />
    <add key="UATscope" value="openid%20profile" />
    <add key="UATstate" value="ok" />
    <add key="UATauthorization_endpoint" value="https://logincert.gaig.com/oauth2/v1/authorize" />
    <add key="UATtoken_endpoint" value="https://logincert.gaig.com/oauth2/v1/token" />
    <add key="UATlogout_endpoint" value="https://logincert.gaig.com/oauth2/v1/logout" />
    <add key="UATrevocation_endpoint" value="https://logincert.gaig.com/oauth2/v1/revoke" />
    <add key="UATjwks_uri" value="https://logincert.gaig.com/oauth2/v1/keys" />
    <add key="UATissuer" value="https://logincert.gaig.com" />
    <add key="UATapi_endpoint" value="https://gaigva-uat.gaig.com/Home/Index" />
    <add key="UATbase_url" value="https://gaigva-uat.gaig.com" />

    <add key="CERTclient_id" value="0oac4hzucsrgDlwgS1d7" />
    <add key="CERTclient_secret" value="M_cAoXd9czuqOrqo3yF7UN5t5whcqGsdIkA2KLyi-Qky9fQNUrAFdrO-Wwm-wX5C" />
    <add key="CERTredirect_url" value="https://gaigva-cert.gaig.com" />
    <add key="CERTscope" value="openid%20profile" />
    <add key="CERTstate" value="ok" />
    <add key="CERTauthorization_endpoint" value="https://logincert.gaig.com/oauth2/v1/authorize" />
    <add key="CERTtoken_endpoint" value="https://logincert.gaig.com/oauth2/v1/token" />
    <add key="CERTlogout_endpoint" value="https://logincert.gaig.com/oauth2/v1/logout" />
    <add key="CERTrevocation_endpoint" value="https://logincert.gaig.com/oauth2/v1/revoke" />
    <add key="CERTjwks_uri" value="https://logincert.gaig.com/oauth2/v1/keys" />
    <add key="CERTissuer" value="https://logincert.gaig.com" />
    <add key="CERTapi_endpoint" value="https://gaigva-cert.gaig.com/Home/Index" />
    <add key="CERTbase_url" value="https://gaigva-cert.gaig.com" />

    <add key="PRODclient_id" value="0oagwilz2h7Glocmo4x7" />
    <add key="PRODclient_secret" value="Mgb8iQTo7Z8KORIyxh1GydGIFADBN49hs-rZGP5Ha5eVCejnveU_GlQEB59aHDzU" />
    <add key="PRODredirect_url" value="https://gaigva.gaig.com" />
    <add key="PRODscope" value="openid%20profile" />
    <add key="PRODstate" value="ok" />
    <add key="PRODauthorization_endpoint" value="https://login.gaig.com/oauth2/v1/authorize" />
    <add key="PRODtoken_endpoint" value="https://login.gaig.com/oauth2/v1/token" />
    <add key="PRODlogout_endpoint" value="https://login.gaig.com/oauth2/v1/logout" />
    <add key="PRODrevocation_endpoint" value="https://login.gaig.com/oauth2/v1/revoke" />
    <add key="PRODjwks_uri" value="https://login.gaig.com/oauth2/v1/keys" />
    <add key="PRODissuer" value="https://login.gaig.com" />
    <add key="PRODapi_endpoint" value="https://gaigva.gaig.com/Home/Index" />
    <add key="PRODbase_url" value="https://gaigva.gaig.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <connectionStrings>
    <add name="CUBEDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=udcubeu-uat.td.afg)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=udcubeu.uat.gai.com)));User Id=Duckcube111;Password=Dcube1112022yr;" providerName="Oracle.DataAccess.Client" />
    <add name="EDWDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=edwu-uat.td.afg)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=edwu.uat.gai.com)));User Id=Duckcube111;Password=Dcube1112022yr;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.101.0.0" newVersion="0.101.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.19.0.0" newVersion="2.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
