
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Reprocess Submission</h2>
<h4 class="text-center">Sample Desc.</h4>

<hr />
<div class="container text-right label-default" style="padding-top:5px; padding-bottom:5px;">
    <a href="Manage" style="color:white;">Click here access tool's:</a>
</div>
<hr />

<div>
    <section>
        <form method="post">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Server">Select Server</label>
                            @Html.DropDownList("Server", null, new { @id = "Server", @class = "form-control", @name = "Server" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="OriginalSubmissionID">Enter Original Submission</label>
                            <input type="number" class="form-control" id="OriginalSubmissionID" placeholder="123456789" name="OriginalSubmissionID" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Submission">Enter Submission</label>
                            <input type="number" class="form-control" id="Submission" placeholder="123456789" name="Submission" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="VersionNumber">Enter Version #</label>
                            <input type="number" class="form-control" id="VersionNumber" placeholder="1" name="VersionNumber" autocomplete="off" min="1" max="9">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" id="Submit">Submit</button>
                    <button type="button" class="btn btn-danger" id="Clear">Clear</button>
                </div>
            </div>
        </form>
    </section>

    <br />

    <section>
        <div class="container">
            <br />
            <div style="text-align: right;">
                <h4><b>Result Section</b></h4>
            </div>
            <div style="width:100%; margin:0 auto;" id="ResultDiv"></div>
            <div class="msgclass alert" id="DownloadLink" hidden></div>
        </div>
    </section>
</div>

@* jQuery Version 3.3.1 is obsilated from this project. Adding latest jQuery file referance to fix that. *@
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        function ShowTosterMessage(Type, Title, Alert) {
            var timeOut = 3000;
            var showCloseButton = true;

            if (Type == 'success') {
                toastr.success(Alert, '', { timeOut: timeOut, 'closeButton': showCloseButton });
            }
            else if (Type == 'warning') {
                toastr.warning(Alert, '', { timeOut: timeOut, 'closeButton': showCloseButton });
            }
            else if (Type == 'error') {
                toastr.error(Alert, '', { timeOut: timeOut, 'closeButton': showCloseButton });
            }
        }

        $.fn.ShowMessage = function (addClassVal, message) {
            var a = document.createElement("a");
            a.textContent = message;
            $('#DownloadLink').empty();
            $("#DownloadLink").removeClass('alert-danger');
            $("#DownloadLink").removeClass('alert-warning');
            $("#DownloadLink").removeClass('alert-success');
            $('#DownloadLink').addClass(addClassVal);
            $("#DownloadLink").append(a);
            $('#DownloadLink').show();
        };

        function ValidateScreen() {
            var isValidScreen = true;

            if ($('#OriginalSubmissionID').val() == '') {
                isValidScreen = false;
                ShowTosterMessage('warning', 'Warning', 'Invalid Original Submission.');
            }
            else if ($('#Submission').val() == '') {
                isValidScreen = false;
                ShowTosterMessage('warning', 'Warning', 'Invalid Submission.');
            }
            else if ($('#VersionNumber').val() == '') {
                isValidScreen = false;
                ShowTosterMessage('warning', 'Warning', 'Invalid Version.');
            }

            return isValidScreen;
        }

        $.fn.ClearAll = function () {
            $("#Server").val($("#Server option:first").val());
            $('#Server').prop("disabled", false);

            $('#OriginalSubmissionID').val("");
            $('#OriginalSubmissionID').prop("disabled", false);

            $('#Submission').val("");
            $('#Submission').prop("disabled", false);

            $('#VersionNumber').val("");
            $('#VersionNumber').prop("disabled", false);
        };

        $("#Clear").click(function () {
            $('#element').ClearAll()
        });

        $("#Submit").click(function () {
            var isValidScreen = ValidateScreen();

            if (isValidScreen == true) {
                $('#element').ShowMessage('alert-warning', 'Processing...!')

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ReprocessTransaction")',
                    datatype: JSON,
                    data:
                    {
                        'Server': $('#Server').val(),
                        'OriginalSubmissionID': $('#OriginalSubmissionID').val(),
                        'Submission': $('#Submission').val(),
                        'VersionNumber': $('#VersionNumber').val()
                    },
                    success: function (data) {
                            if (data == '' || data == null) { $('#element').ShowMessage('alert-danger', 'Oops. Error in fatching data from server.'); }
                            else {
                                if (data.includes("==")) {
                                    var str1 = data.split('==');
                                    window.location = 'DownloadDBScriptt?FileName=' + str1[1];

                                    var eg = 'DownloadDBScriptt?FileName=' + str1[1];
                                    var a = document.createElement("a");
                                    a.href = eg;
                                    a.textContent = "File Downloded. Click here to download again.";
                                    $('#DownloadLink').empty();
                                    $("#DownloadLink").removeClass('alert-danger');
                                    $("#DownloadLink").removeClass('alert-warning');
                                    $('#DownloadLink').addClass('alert-success');
                                    $("#DownloadLink").append(a);
                                    $('#DownloadLink').show();
                                }
                                else {
                                    $('#element').ShowMessage('alert-danger', 'Oops. Error in fatching data from server.');
                                }
                            }
                    },
                    error: function () { $('#element').ShowMessage('alert-danger', 'Oops. Error in fatching data from server.'); }
                });
            }
        });
    });
</script>