
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Reprocess Submission</h2>
<h4 class="text-center">Sample Desc.</h4>

<hr />
<div class="container text-right label-default" style="padding-top:5px; padding-bottom:5px;">
    <a href="Index" style="color:white;">Back</a>
</div>
<hr />